body {
    background-image: url("thankyou.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#navbar {
    font-size: 125%;
    position: fixed;
    margin-top: 29%;
    margin-left: 37%;
}

#navbar a {
    font-size: 100%;
    margin-left: 10px;
    margin-top: 20px;
    padding: 20px;
    text-decoration: none;
    font-family: sans-serif;
}

#navbar img {
    width: 50%;
    height: 50%;
}

#navbar a:link, #navbar a:visited {
    color: white;
    border: 3px solid white;
    font-size: 15px;
    padding: 14x 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#navbar a:hover, #navbar a:active {
    background-color: white;
    color:black;
    font-size: 110%;
    font-weight: bold;
}